################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/ClinicaMedica/FileContentIndex/1dd38858-541b-4a79-be6b-7d4023bcf9ec.vsidx
